:root {
  --content-width: 620px;
  --box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

body {
  background-color: #d8f7ed;
}

header{
  background-color: #167D7F;
  text-align: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 1000;
  padding: 5px 0px 5px 0px;
  font-size: 40px;
  font-family: 'Gemunu Libre', sans-serif;
  box-shadow:  var(--box-shadow);
}

header a:link, a:visited, a:hover, a:active{
  color: white;
  text-decoration: none;
}

.main-body {
  margin: 30px auto;
  width: 620px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.main-body *{
  margin: 10px 10px 10px 10px;
}

.main-body form * {
  margin: 15px 49px 15px 49px;
}

#sorting-slider{
  appearance: none;
  -webkit-appearance: none;
  background-color: #29A0B1;
  border-radius: 5px;
  width: 130px;
  height: 5px;
  margin-right: 0px;
}

#sorting-slider::-webkit-slider-thumb{
  appearance: none;
  -webkit-appearance: none;
  background-color: black;
  width: 10px;
  height: 21px;
  border-radius: 5px
}

#slider-output{
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 1px 2px 1px 2px;
  margin-left: 0px;
}

footer{
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  padding: 5px 0px 7px 0px;
}

footer a:link, a:visited, a:hover, a:active{
  color: #E2808A;
}

/* Chart Styling
-----------------------------*/
.data-container {
  width: 620px;
  height: 360px;
  position: relative;
  margin: 5px auto;
  margin-bottom: 10px;
  margin-top: 90px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.block {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #29A0B1;
  transition: 0.2s all ease;
  margin: 10px;
  border-radius: 4px;
}

.block__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif;
}

#chart-title{
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
}